.img-container {
  /* Never limit the container height here */
  max-width: 100%;
  height: 100%;
}

.img-container img {
  /* This is important */
  width: 100%;
}

.cropper-view-box,
.cropper-face {
    border-radius: 50%;
    border: solid #2f6aa3 1px;
}

.cropper-modal {
    opacity: .85;
}

canvas {
    image-rendering: optimizeSpeed;
    image-rendering: -moz-crisp-edges;
    image-rendering: -webkit-optimize-contrast;
    image-rendering: -o-crisp-edges;
    image-rendering: crisp-edges;
    -ms-interpolation-mode: nearest-neighbor;

    width: 100%;
    height: auto;
}
